html,
body{
    height: 100%;
    
}
/*Portada */
#cover {
    background: #222 url(../img/imagen1.0.jpg) center no-repeat;
    background-size: 100%;
    color: black;    
    height: 100%;
    text-align: center;
}

#cover-texto {
    width: 100%;

}

