body {
    color: white;
    font-family: Arial;
    margin: 0px;    
}
.contenedor{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 2fr 200px;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "head head head"
        "section nav aside"
        "foot foot foot";
}

header {
    grid-area: head;
    background-color: blueviolet;
}

nav {
    grid-area:nav;
    background-color: cornflowerblue;
}

section {
    grid-area: section;
    background-color: indigo;
}

aside {
    grid-area: aside;
    background-color: darkmagenta;
}
footer{
    grid-area: foot;
    background-color: darkorchid;
}
header,nav,section,footer {
    border: 1px solid black;
}